@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
    --blanco: #f0f0f0;
    --rojo: #be3144;
    --azul: #45567d;
    --gris: #303841;
    --titulo-seccion: 3.5rem;
    --titulo-proyecto: 3rem;
    --descripcion-proyecto : 1.8rem;
    --fuente-enlace: 2.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--blanco);
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

@keyframes deslizamiento-titulo {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes deslizamiento-titulo-italica {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }
}


/* .navbar {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background: var(--rojo);
}

.navbar-links {
    display: flex;
}

ul {
    list-style: none;
}

.navbar-links a {
    display: block;
    font-size: 2.2rem;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--blanco)
} */

.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding-left: 3rem;
    padding-right: 3rem;
}

.bienvenida h1 {
    font-size: 5rem;
    text-align: start;
    animation-name: deslizamiento-titulo;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
}

.bienvenida h2 {
    visibility: hidden;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--rojo);
    text-align: end;
    animation-name: deslizamiento-titulo-italica;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.seccion-proyectos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background: var(--azul);
}

.titulo-seccion {
    font-size: var(--titulo-seccion);
    max-width: 640px;
    margin: 0 auto 4rem auto;
}

.contenedor-proyectos {
    display: flex;
    flex-direction: column;
    max-width: 128rem;
    margin: 0 auto;
}

.proyecto {
    background: var(--gris);
    border-radius: 2rem;
    text-decoration: none;
    margin-bottom: 4rem;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.proyecto:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translate(-3px, -3px);
}

.proyecto-imagen {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.informacion-proyecto {
    height: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proyecto-titulo {
    font-size: var(--titulo-proyecto);
    margin-bottom: 1.5rem;
}

.proyecto-descripcion {
    font-size: var(--descripcion-proyecto);
    margin-bottom: 1.5rem;
}


/*Estilos de la sección de contacto*/

.seccion-contacto {
    background: var(--gris);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.contenedor-enlaces {
    font-size: var(--fuente-enlace);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    flex-wrap: wrap;
}

.enlace {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.enlace:hover {
    transform: scale(1.1);
}


@media screen and (min-width: 700px) {
    .contenedor-proyectos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 128rem;
        margin: 0 auto;
        justify-items: center;
    }

    .proyecto-imagen {
        height: 60%;
    }

}

@media screen and (min-width: 900px) {
    .bienvenida {
        align-items: center;
    }
    
    .bienvenida-titulo {
        width: 84rem;
    }

    .proyecto {
        width: 42rem;
    }
}



